<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="url">
                <field id="specific_store_switcher" translate="label" type="select" sortOrder="70" showInDefault="0" showInWebsite="1" showInStore="0">
                    <label>Enable Store Switcher</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, show custom store switcher. Doesn't display anything if disabled.</comment>
                </field>
                <field id="specific_store_code_in_url" translate="label" type="text" sortOrder="60" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Trim Specific Store Code In Url</label>
                    <comment>Used to retrieve and trim store code in url in order to give the correct request path to magento. E.g. site.com/de to site.com/ </comment>
                </field>
                <field id="specific_store_code_label" translate="label" type="text" sortOrder="70" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Replace Specific Store Name For Store Switcher</label>
                    <comment>Used in storeswitcher block to display custom name instead of store name. E.g. if your value in the field is 'French' and the store name is 'FR' it will display French instead of FR in the switcher</comment>
                </field>
            </group>
        </section>
    </system>
</config>
